.app {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;

    h1 {
        text-align: center;
        font-size: 2rem;
        margin: 0.1rem 0 1rem;
    }

    .controls {
        padding-bottom: 1rem;
    }

    .track-list {
        border-top: 1px solid #ced4da;
        padding-top: 1rem;
    }
}